
  
  .logo {
    color: #cd4d4d;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    font-family: cursive;
    padding-left: 40px;
  }
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }